.header-container {
    display: flex;
    padding: 20px;
    align-items: center;
    background-color: #383838;
    color: white;
}
.header-searchBox {
    width: 50%;
    margin: 0px 150px;
}
.header-hamburger {
    margin: 0px 20px;
    cursor: pointer;
}