.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.full-width {
    width: 100%;
    background: var(--secondary-bg-color);
    color: var(--font-color);
}
  