.sidebar-tabs.sidebar-selected {
  background: var(--primary-dark-color);
  color: white;
  color: var(--font-color);
  font-weight: 600;
}

.sidebar-container {
  text-align: left;
  width: 200px;
  background-color: var(--bg-color);
  min-height: 100vh;
  transition: width 0.2s;
}

.sidebar-tabs {
  padding: 20px;
  border: none;
  width: 100%;
  cursor: pointer;
  background: unset;
  color: var(--font-color);
}

@media only screen and (max-width: 512px) {
  .sidebar-container {
    z-index: 2;
    position: absolute;
    transition: unset;
  }
}