.sidebar-selected {
  background: var(--primary-dark-color);
  color: white;
  font-weight: 600;
}

.sidebar-container {
  text-align: left;
  width: 200px;
  background-color: var(--bg-color);
  min-height: 100vh;
  transition: width 0.2s;
}

.sidebar-tabs {
  padding: 20px;
  cursor: pointer;
  color: var(--font-color);
}
