.sidebar-selected {
    background: dimgrey;
    color: white;
    font-weight: 600;
}
.sidebar-container {
    text-align: left;
    min-width: 200px;
    background-color: #FFDF6C;
    min-height: 100vh;
}
.sidebar-tabs {
    padding: 20px;
    cursor: pointer;
}