.delete {
  float: right;
  cursor: pointer;
}

.notes-action-container {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e2e2e2;
  flex-wrap: wrap;
}

.notes-action-type {
  color: blue;
  font-size: 10px;
  cursor: pointer;
  padding: 10px;
  text-transform: uppercase;
}

.notes-action-type:last-child {
  color: red;
  padding-left: 50%;
}

.notes-action-type:hover {
  cursor: pointer;
}
