.note-create {
  padding: 20px;
  border: none;
  box-shadow: 5px 5px black;
  border: 1px solid black;
  cursor: pointer;
  position: absolute;
  right: 0px;
  margin: 20px;
  background: var(--primary-dark-color);
  color: var(--font-color);
  font-family: monospace;
}

.full-width {
  width: 100%;
  background: var(--secondary-bg-color);
  color: var(--font-color);
}

.notes-textarea {
  min-width: 600px;
  padding: 10px;
  min-height: 200px;
  font-family: inherit;
  margin: 5px;
  border: none;
  color: var(--font-color);
  background: var(--secondary-bg-color);
}

.close {
  text-align: right;
  cursor: pointer;
}
.notes-action {
  display: flex;
  justify-content: space-between;
}

.notes-action-btn {
  padding: 10px;
  min-width: 100px;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

.save {
  background: var(--primary-success-color);
}

.trash {
  background: #8a0c22;
}

.modal-container button {
  font-family: monospace;
}

.modal-container {
  padding: 20px;
  background: var(--bg-color);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
}
.notes-container {
  display: inline-grid;
}
.notes-heading {
  padding: 10px;
  margin: 5px;
  border: none;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
  color: var(--font-color);
  background: var(--secondary-bg-color);
}
.show-modal {
  display: block
}

.hide-modal {
  display: none;
}