.note-type {
  text-transform: capitalize;
  color: gray;
  font-size: 12px;
  font-weight: 600;
}

.note-date-created {
  text-align: right;
  font-size: 12px;
  color: gray;
}

.note-content {
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.NotesContainer {
  width: 30%;
  margin: 30px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 4px 4px 0px #000;
  float: left;
  height: 140px;
  cursor: pointer;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
