.toggle-switch {
  display: inline-block;
  height: 25px;
  position: relative;
  width: 42px;
}

.toggle-slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.toggle-slider:before {
  background-color: var(--bg-color);
  bottom: 3px;
  content: "";
  height: 20px;
  left: 3px;
  position: absolute;
  transition: 0.4s;
  width: 20px;
}

.toggle-container input:checked + .toggle-slider {
  background-color: var(--primary-dark-color);
}

.toggle-container input:checked + .toggle-slider:before {
  transform: translateX(17px);
}

.toggle-slider.round {
  border-radius: 34px;
}

.toggle-slider.round:before {
  border-radius: 50%;
}
