.modal-container {
    padding: 20px;
    background: var(--bg-color);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    width: 70%;
    max-width: 600px;
}

.show-modal {
    display: block
}

.hide-modal {
    display: none;
}
.close {
    cursor: pointer;
    border: none;
    background: unset;
}
.close-btn-container {
    text-align: right;
}